.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.recipes-item {
  flex-basis: calc((100% - 60px) / 3);
  border-radius: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 42, 42, 0.39);

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 300px;
  min-height: 300px;
}
